ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(71, 67, 67);
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;

}
li{
    float: left;
}
li a {
display: block;
color: white;
text-align: center;
padding: 10px 16px;
text-decoration: none;
font-size: 10px;
}

li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 19px;
    }
img{
    width: 1904px;
    height: 750px;
}
.a1{
    position: absolute;
    left: 700px;
    bottom: 650px;
    color: aliceblue;
    font-size: 28px;
    
}
.b1{
    display: inline-block;
  padding: 10px 10px;
  font-size: 19px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:white;
  background-color: #2997ff;
  border: none;
  border-radius: 20px;
}
.b2{
    display: inline-block;
  padding: 10px 9px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:rgb(36, 129, 235);
  background-color: #01060a;
  border:1px solid rgb(17, 93, 206);
  border-radius: 15px;
}
.b2:hover{ background-color:#5799d6;
color: black;}



.sd1>img{
    width: 1904px;
    height: 500px;
    background-color: antiquewhite;
}
.sd1{
    position: absolute;
    left: 700px;
    top: 850px;
    color: rgb(0, 0, 0);
    font-size: 28px;
    
}
.b3{
    display: inline-block;
  padding: 10px 9px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:rgb(227, 230, 235);
  background-color: #2997ff;
  border:1px solid rgb(17, 93, 206);
  border-radius: 15px;
}
.b4{
    display: inline-block;
  padding: 10px 9px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:#2997ff;
  background-color:#e4ecf3 ;
  border:1px solid rgb(17, 93, 206);
  border-radius: 15px;
}
.b4:hover{
    background-color:#427fb8;
    color: #020303;
}
   
.dmain{
    display: grid;
    grid-template-columns: auto auto;
    background-color:white;
}
.d1>img{
    height: 800px;
    width: 100%;
}
 
 .maindiv2{
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(241, 239, 235);
}
.sbmain>img{
    height: 800px;
    width: 920px;
}
.maindiv3>img{
    height: 800px;
    width: 960px;
}
.s2{
    position: absolute;
    left: 300px;
    top: 2500px;
    color: white;
    font-size: 28px;
}
.s3{
    position: absolute;
    left: 1200px;
    top: 2500px;
    color: rgb(0, 0, 0);
    font-size: 28px;
}
.btn6{
    display: inline-block;
    padding: 10px 9px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:rgb(200, 205, 214);
    background-color: #2997ff;
    border:1px solid rgb(17, 93, 206);
    border-radius: 18px;   
}

.btn7{
    display: inline-block;
  padding: 10px 9px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:#2997ff;
  background-color:#e4ecf3 ;
  border:1px solid rgb(17, 93, 206);
  border-radius: 15px;
}
  .btn7:hover{
     background-color:lightblue;
    }

    .btn8{
        display: inline-block;
        padding: 10px 9px;
        font-size: 15px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color:rgb(227, 230, 235);
        background-color: #2997ff;
        border:1px solid rgb(17, 93, 206);
        border-radius: 18px;   
    }

    .btn9{
        display: inline-block;
      padding: 10px 9px;
      font-size: 15px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color:#2997ff;
      background-color:#e4ecf3 ;
      border:1px solid rgb(17, 93, 206);
      border-radius: 17px;
    }
      .btn9:hover{
         background-color:lightblue;
        }



.maindiv4{
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(241, 239, 235);
}
.sbmain1>img{
    height: 800px;
    width: 920px;
}
.maindiv5>img{
    height: 800px;
    width: 960px;
}
.s4{
    position: absolute;
    left: 300px;
    top: 3260px;
    color: white;
    font-size: 28px;
}
.s5{
    position: absolute;
    left: 1200px;
    top: 3260px;
    color: black;
    font-size: 28px;
}

.btn10{
    display: inline-block;
    padding: 10px 9px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:rgb(227, 230, 235);
    background-color: #000000;
    border:1px solid rgb(0, 0, 0);
    border-radius: 18px;   
}
.btn11{
    display: inline-block;
  padding: 10px 9px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:#020303;
  background-color:#e4ecf3 ;
  border:1px solid rgb(5, 6, 7);
  border-radius: 17px;
}
.btn11:hover{
    background-color:lightslategray;
}
.btn12{
    display: inline-block;
    padding: 10px 9px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:rgb(227, 230, 235);
    background-color: #1c19f3;
    border:1px solid rgb(46, 65, 240);
    border-radius: 18px;   
}

    

.maindiv6{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    background-color: rgb(241, 239, 235);
    overflow-x: scroll;
}
.sbmain2>img{
    height: 850px;
    width: 1200px; 
}
.sub8>img{
    height: 850px;
    width: 1200px;
}
.sub9>img{
    height: 850px;
    width: 1200px;
}
.sub10>img{
    height: 850px;
    width: 1200px;
}
.sub11>img{
    height: 850px;
    width: 1200px;
}
.sub12>img{
    height: 850px;
    width: 1200px;
}
.sub13>img{
    height: 850px;
    width: 1200px;
}
.sub14>img{
    height: 850px;
    width: 1200px;
}
.sub15>img{
    height: 850px;
    width: 1200px;
}
.sub16>img{
    height: 850px;
    width: 1200px;
    }

.maindiv7{
    background-color: antiquewhite;
    padding: 8px;
    height: 700px;
}
.cnt1{
    text-align: center;
    font-size: small;
    color: rgb(37, 36, 36);
}