ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(71, 67, 67);
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;

}
li{
    float: left;
}
li a {
display: block;
color: white;
text-align: center;
padding: 10px 16px;
text-decoration: none;
font-size: 10px;
}

li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 19px;
    }
img{
    width: 1904px;
    height: 750px;
}
.a1{
    position: absolute;
    left: 700px;
    bottom: 650px;
    color: aliceblue;
    font-size: 28px;
    
}
.b1{
    display: inline-block;
  padding: 10px 10px;
  font-size: 19px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:white;
  background-color: #2997ff;
  border: none;
  border-radius: 20px;
}
.b2{
    display: inline-block;
  padding: 10px 9px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:rgb(36, 129, 235);
  background-color: #01060a;
  border:1px solid rgb(17, 93, 206);
  border-radius: 15px;
}
.b2:hover{ background-color:#5799d6;
color: black;}



.sd1>img{
    width: 1904px;
    height: 500px;
    background-color: antiquewhite;
}
.sd1{
    position: absolute;
    left: 700px;
    top: 850px;
    color: rgb(0, 0, 0);
    font-size: 28px;
    
}
.b3{
    display: inline-block;
  padding: 10px 9px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:rgb(227, 230, 235);
  background-color: #2997ff;
  border:1px solid rgb(17, 93, 206);
  border-radius: 15px;
}
.b4{
    display: inline-block;
  padding: 10px 9px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:#2997ff;
  background-color:#e4ecf3 ;
  border:1px solid rgb(17, 93, 206);
  border-radius: 15px;
}
.b4:hover{
    background-color:#427fb8;
    color: #020303;
}
   
.d4{
    display: grid;
    grid-template-columns: auto auto;
    background-color:white;
}
.sub1>img{
    height: 800px;
    width: 100%;
}
 
 .d5{
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(241, 239, 235);
}
.sub3>img{
    height: 800px;
    width: 920px;
}
.sub4>img{
    height: 800px;
    width: 960px;
}
.ds3{
    position: absolute;
    left: 300px;
    top: 2500px;
    color: white;
    font-size: 28px;
}
.ds4{
    position: absolute;
    left: 1200px;
    top: 2500px;
    color: black;
    font-size: 28px;
}
.b6{
    display: inline-block;
    padding: 10px 9px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:rgb(227, 230, 235);
    background-color: #2997ff;
    border:1px solid rgb(17, 93, 206);
    border-radius: 18px;   
}

.b7{
    display: inline-block;
  padding: 10px 9px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:#2997ff;
  background-color:#e4ecf3 ;
  border:1px solid rgb(17, 93, 206);
  border-radius: 15px;
}
  .b7:hover{
     background-color:lightblue;
    }

    .b8{
        display: inline-block;
        padding: 10px 9px;
        font-size: 15px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color:rgb(227, 230, 235);
        background-color: #2997ff;
        border:1px solid rgb(17, 93, 206);
        border-radius: 18px;   
    }

    .b9{
        display: inline-block;
      padding: 10px 9px;
      font-size: 15px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color:#2997ff;
      background-color:#e4ecf3 ;
      border:1px solid rgb(17, 93, 206);
      border-radius: 17px;
    }
      .b9:hover{
         background-color:lightblue;
        }



.d6{
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(241, 239, 235);
}
.sub5>img{
    height: 800px;
    width: 920px;
}
.sub6>img{
    height: 800px;
    width: 960px;
}
.ds5{
    position: absolute;
    left: 300px;
    top: 3260px;
    color: rgb(7, 5, 5);
    font-size: 28px;
}
.ds6{
    position: absolute;
    left: 1200px;
    top: 3260px;
    color: black;
    font-size: 28px;
}

.b10{
    display: inline-block;
    padding: 10px 9px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:rgb(227, 230, 235);
    background-color: #000000;
    border:1px solid rgb(0, 0, 0);
    border-radius: 18px;   
}
.b11{
    display: inline-block;
  padding: 10px 9px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:#020303;
  background-color:#e4ecf3 ;
  border:1px solid rgb(5, 6, 7);
  border-radius: 17px;
}
.b11:hover{
    background-color:lightslategray;
}
.b12{
    display: inline-block;
    padding: 10px 9px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:rgb(227, 230, 235);
    background-color: #1c19f3;
    border:1px solid rgb(46, 65, 240);
    border-radius: 18px;   
}

    

.d7{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    background-color: rgb(241, 239, 235);
    overflow-x: scroll;
}
.sub7>img{
    height: 850px;
    width: 1200px; 
}
.sub8>img{
    height: 850px;
    width: 1200px;
}
.sub9>img{
    height: 850px;
    width: 1200px;
}
.sub10>img{
    height: 850px;
    width: 1200px;
}
.sub11>img{
    height: 850px;
    width: 1200px;
}
.sub12>img{
    height: 850px;
    width: 1200px;
}
.sub13>img{
    height: 850px;
    width: 1200px;
}
.sub14>img{
    height: 850px;
    width: 1200px;
}
.sub15>img{
    height: 850px;
    width: 1200px;
}
.sub16>img{
    height: 850px;
    width: 1200px;
    }

.d8{
    background-color: antiquewhite;
    padding: 8px;
    height: 700px;
}
.y2{
    text-align: center;
    font-size: small;
    color: rgb(37, 36, 36);
}